/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body {
    background-color: #f2f2f2;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;

    margin-top: 55px;
}

/* Banner */
.banner {
    background-color: #182a40;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.banner img {
    position: absolute;
    max-width: 50%;
    height: auto;
    margin-left: -640px;
}

.titulo {
    position: absolute;
    right: 0;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    margin-right: 100px;
    z-index: 1;
}

/* Estilos de los productos */
.medicamento-imagen{
    width: 100%;
    height: 200px;

    align-content: center;
}

.medicamentos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.producto {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.producto-nombre {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.producto-precio {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.producto-status {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.producto-status.disponible {
    background-color: #4CAF50;
    color: white;
}

.producto-status.no-disponible {
    background-color: #F44336;
    color: white;
}

/* Paginación */
 .paginacion {
    display: flex; /* Alinea los elementos en fila */
    justify-content: center; /* Centra la paginación */
    margin-top: 30px;
    margin-bottom: 20px;
}

.pagina {
    margin: 0 10px; /* Espacio entre los elementos */
}

.pagina a {
    background-color: #e6b750;
    color: #162840;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    display: inline-block; /* Asegura que los enlaces estén en una línea */
}

.pagina a:hover {
    background-color: #ffe07e;
}

.pagina.active a {
    background-color: #182a40;
    color: white;
    cursor: not-allowed;
}

.pagina.disabled a {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

/* Estilo para mostrar la página actual */
.pagina-actual {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    align-self: center;
}